.roadmap-canvas svg {
  height: 100vh;
  width: auto;
  margin: auto;
  display: block;
}

@media (min-aspect-ratio: 1 / 1) {
  .roadmap-canvas {
    padding-top: 7rem;
  }
}

.roadmap-tools {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 6px;
  right: 16px;
}

.roadmap-tools-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.roadmap-tool {
  position: relative;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap-tool:hover {
  background: #c7f24e;
}

.roadmap-tool-fullscreen svg {
  width: 14px;
  height: 14px;
  stroke: #000;
  stroke-width: 2;
  fill: none;
}

.roadmap-tool-fullscreen polyline {
  transform-box: fill-box;
  transform-origin: center;
}

.roadmap-tool-fullscreen.active polyline {
  transform: rotate(180deg);
}

.roadmap-tool-zoomin,
.roadmap-tool-zoomout {
  margin-top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap-tool-zoomin svg,
.roadmap-tool-zoomout svg {
  width: 12px;
  height: 12px;
  stroke-width: 2;
  stroke: #000;
  fill: none;
}

@media (min-width: 680px) {
  .roadmap-tools {
    top: 22px;
    right: 32px;
  }
}
