# The Google Analytics 4 measurement id
NEXT_PUBLIC_GA_MEASUREMENT_ID=

# The Notion API token & the posts database id
NOTION_TOKEN=
NOTION_POSTS_DATABASE_ID=

OPENAI_API_KEY=
IMGPROXY_URL=

NEXT_PUBLIC_FAUCET_CONTRACT_ID=
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

DISCORD_PUBLIC_KEY=
DISCORD_TOKEN=
DISCORD_APP_ID=
