.notion_page_body {
  line-height: 1.7;
  font-size: 1.2rem;
}

.notion_page_title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1.75rem 0 1.5rem 0;
}

.notion_heading_1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1.75rem 0 1.5rem 0;
}

.notion_heading_2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1.75rem 0 1.5rem 0;
}

.notion_heading_3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1.75rem 0 1.5rem 0;
}

.notion_paragraph {
  margin: 1.25rem 0 1.25rem 0;
}

.notion_quote {
  box-shadow: inset 3px 0 0 0 #242424;
  padding-left: 23px;
}

.notion_divider {
  border: 0;
  border-top: 1px solid #eaecef;
  margin: 2rem 0;
}

.notion_column_list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -1rem;
}

.notion_column {
  flex: 1 1 0;
  padding: 0 1rem;
}

.notion_bulleted_list_container {
  margin-left: 1rem;
}

.notion_bulleted_list_item {
  list-style-type: disc;
  padding: 3px 2px;
}

.notion_numbered_list_container {
  margin-left: 1rem;
}

.notion_numbered_list_item {
  list-style-type: decimal;
  padding: 3px 2px;
}

.notion_to_do_container {
  display: flex;
  align-items: center;
}

.notion_to_do {
  margin-right: 0.5rem;
}

.notion_caption {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1.5rem;
  color: #6e7681;
}

.notion_table,
.notion_table_row,
.notion_table_cell {
  border: 1px solid;
}

.notion_table_cell {
  padding: 0.5rem;
}

.notion_table_header {
  font-weight: 700;
  background-color: #f9fafb;
}

.notion_image_container,
.notion_video_container {
  margin: 1.25rem 0 1.25rem 0;
}

.notion_callout {
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #eaecef;
  background-color: #f1f1ef;
  margin: 1.5rem 0 1.5rem 0;
  display: flex;
  align-items: top;
}

.notion_callout_emoji {
  margin-right: 0.5rem;
}

.notion_link {
  color: #242424;
  border-bottom: 0.05em solid;
  border-color: #242424;
  text-decoration: none;
}

.notion_inline_code {
  color: #242424;
  background-color: #F2F2F2;
  padding: 2px 4px;
  font-weight: 400;
  font-size: 75%;
  line-height: 32px;
}

details.notion_toggle_container > summary {
  list-style-type: revert;
  list-style-position: revert;
}

@media screen and (max-width: 48rem) {
  .notion_page_title {
    font-size: 1.75rem;
  }

  .notion_heading_1 {
    font-size: 1.75rem;
  }

  .notion_heading_2 {
    font-size: 1.5rem;
  }

  .notion_heading_3 {
    font-size: 1.25rem;
  }
}
