@tailwind utilities;
.phat-active-list-wrap {
  @apply relative w-[80%] m-auto lg:absolute lg:w-[30.5%] flex flex-col z-10 aspect-[428/168] overflow-hidden rounded-md;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);
}

.left-phat-active-list-wrap {
  @apply justify-end lg:left-[1.8%] lg:bottom-[47.65%];
  &:before {
    @apply absolute inset-0 -z-10 rounded-md;
    background: linear-gradient(270deg, #C4F142 0%, #FFF 100%);
    display: block;
    content: " ";
  }
  &:after {
    @apply absolute inset-px -z-10 bg-white rounded-md;
    display: block;
    content: " ";
  }
}

.right-phat-active-list-wrap {
  @apply lg:right-[1.8%] lg:bottom-[47.65%];
  &:before {
    @apply absolute inset-0 -z-10 rounded-md;
    background: linear-gradient(90deg, #7F52FA 0%, #FFF 100%);
    display: block;
    content: " ";
  }
  &:after {
    @apply absolute inset-px -z-10 bg-white rounded-md;
    display: block;
    content: " ";
  }
}


.phat-list {
  @apply absolute w-[33.33%] hidden lg:flex flex-col;
}

.left-phat-list {
  @apply left-0 bottom-[47.65%] left-[1%];
}

.right-phat-list {
  @apply right-0 top-[34.55%] right-[1%];
}

.phat-list .phat-list-item {
  @apply aspect-[428/168] w-full flex justify-center items-center shrink-0;
  @apply text-[1vw] xl:text-base;
  opacity: 0;
}

.item-inner {
  @apply aspect-[360/96] w-[84.11%] bg-gray-100 rounded-4xl flex items-center;
}

.phat-list .phat-list-item .item-icon {
  @apply mx-[8.88%] bg-cover shrink-0;
  @apply w-[17.77%] aspect-square bg-white rounded-full;
}

.phat-list .phat-list-item .item-title {
  @apply text-black-800 font-bold;
}

.phat-active-list .phat-list-item {
  @apply px-[7%] aspect-[428/168] w-full flex items-center;
  @apply text-[14px] lg:text-[1vw] xl:text-base;
}

.phat-active-list .phat-list-item .item-info {
  @apply flex flex-col gap-2 lg:gap-1 xl:gap-2 leading-none;
}

.phat-active-list .phat-list-item .item-desc {
  @apply lg:text-[1.2vw] xl:text-lg;
}

.phat-active-list .phat-list-item .item-icon {
  @apply mr-[7%] bg-cover shrink-0;
  @apply w-[20%] aspect-square rounded-full;
  @apply border-2 lg:border-[0.3vw] xl:border-4;
}

.phat-active-list .phat-list-item .item-title {
  @apply text-black-800 font-bold;
}

.phat-active-list .phat-list-item .item-tags {
  @apply flex flex-wrap gap-[3%];
}

.phat-active-list .phat-list-item .item-tags span {
  @apply py-[2%] px-[4%] rounded-[0.5rem] lg:rounded-[0.3vw] break-keep;
  @apply xl:text-xs xl:py-0 xl:px-2 xl:rounded-md;
}

.left-phat-active-list-wrap .item-icon {
  @apply border-phalaGreenLight;
}

.left-phat-active-list-wrap .item-tags span {
  @apply bg-phalaGreenLight text-black;
}

.connect-button {
  @apply btn-outline rounded-full font-semibold;
  @apply text-[1vw] px-[3.5vw] py-[1vw];
  @apply xl:text-sm xl:py-2 xl:px-10;
}

.right-phat-active-list-wrap .item-icon {
  @apply border-phalaPurple-500;
}

.right-phat-active-list-wrap .item-tags span {
  @apply bg-phalaPurple-600 text-white;
}

