.mask-teacup {
  width: 100%;
  height: 100%;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/home/main-landing-2025/bg-hero-2025.jpg')
    ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  border-radius: 1rem;
  border-bottom-left-radius: 11.5rem;
  overflow: hidden;

  mask-image:
    url('/home/main-landing-2025/bottom-right-mask.png')
    ,url('/home/main-landing-2025/repeat-mask.png')
    ,url('/home/main-landing-2025/repeat-mask.png')
  ;

  /* NOTE: mask-size: [width] [height] */
  mask-size:
    32.625rem 10rem
    ,100% calc(100% - 10rem)
    ,calc(100% - 32.625rem) 10rem
    ;

  mask-position:
    right bottom
    ,left top
    ,0 bottom
    ;

  mask-repeat: no-repeat;
}

@media (max-width: 1280px) {
  .mask-teacup {
    border-radius: 1rem;
    border-bottom-left-radius: 5.75rem;

    mask-image: none !important;
    mask-size: none !important;
  }
}

.section-usercases {
  background: url('/home/main-landing-2025/bg-usecases.png') no-repeat center center;
  background-size: cover;
}