@import "tailwindcss";
@import "./theme/colors.css";
@import "./theme/typography.css";

@custom-variant dark (&:is(.dark *));
@plugin '@tailwindcss/typography';

@utility container {
  margin-inline: auto;
  @apply px-4 sm:px-6;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3 {
    /* @apply font-display tracking-tight; */
  }
  .prose {
    h1,
    h2,
    h3 {
      font-family: inherit;
      scroll-margin-top: 5rem;
    }
  }
  .prose a {
    @apply break-all;
  }

  body {
    overflow-x: hidden;
  }

  ::selection {
    @apply bg-primary/40;
  }
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
