@import '@fontsource/montserrat/latin.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #262626;
  overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
  background: rgba(205, 250, 80, 0.5);
}

::selection {
  background: rgba(205, 250, 80, 0.5);
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/**
 *
 * Helpers
 *
 */

.safe-viewport {
  @apply w-full max-w-[1760px] mx-auto px-9 xl:px-10 3xl:px-0;
}


.untanglable {
  @apply select-none pointer-events-none;
}


.svg-black {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(13deg) brightness(98%) contrast(105%);
}

/* #232323 */
.svg-black-100 {
  filter: invert(15%) sepia(2%) saturate(3%) hue-rotate(347deg) brightness(103%) contrast(101%);
}

/* #fff */
.svg-white {
  filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(92deg) brightness(114%) contrast(117%);
}

.svg-primary {
  filter: invert(97%) sepia(57%) saturate(1234%) hue-rotate(19deg) brightness(108%) contrast(95%);
}

.svg-secondary {
  filter: invert(29%) sepia(79%) saturate(3185%) hue-rotate(249deg) brightness(97%) contrast(100%);
}

.svg-gray-400 {
  filter: invert(68%) sepia(18%) saturate(266%) hue-rotate(174deg) brightness(97%) contrast(93%);
}

/* General Components */

.btn-link {
  @apply text-base font-normal inline-block relative;
}

.btn-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #262626;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page-footer .btn-link {
  @apply text-gray-200 transition-all;
}

.page-footer .btn-link:hover {
  @apply text-white;
}

.page-footer .btn-link::after {
  background-color: #fff;
}


.btn-with-arrow {
  @apply inline-flex flex-row items-center;
}

.btn-with-arrow .arrow {
  @apply transition-all ml-1.5;
}

.btn-with-arrow:hover .arrow {
  @apply translate-x-2;
}
