@tailwind utilities;

.section-hero .btn-view-all .icon {
  @apply transition-all scale-100;
}

.section-hero .btn-view-all:hover .icon {
  scale: 1.15;
}

.code-viewer {
  @apply border border-solid border-blackAlpha-200 bg-[#EEF0F4] rounded-[20px] px-6 py-5 w-8/12;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  max-height: 440px;
}

.section-heading {
  @apply font-black text-center mb-16;
  line-height: 150%;
  font-size: 3.5rem;
}

/* .section-features */

.feature-highlight-item.active,
.feature-highlight-item:hover {
  @apply bg-primary;
}

.feature-highlight-item summary {
  @apply list-none cursor-pointer text-base text-blackAlpha-400 transition-all flex flex-row gap-2.5 items-center;
}

.feature-highlight-item summary .icon {
  @apply opacity-10;
}

.feature-highlight-item.active summary,
.feature-highlight-item:hover summary {
  @apply text-[#272727] font-bold;
}

.feature-highlight-item.active summary .icon,
.feature-highlight-item:hover summary .icon {
  @apply opacity-100;
}

.feature-highlight-item .body {
  @apply w-full pl-[42px];
}

.feature-highlight-item p {
  @apply py-2.5 text-sm text-blackAlpha-700 max-w-xl;
}

.feature-tab-panels {
  width: 38vw;
  top: calc((100vh - 45vw / 834 * 782) / 2);
}

@media (min-width: 80rem) {
  .feature-tab-panels {
    width: auto;
    top: auto;
  }
}

@media (min-width: 160rem) {
  .feature-tab-panels {
    top: calc((100vh - 45vw / 834 * 782) / 2);
  }
}

/* .section-blueprints */

.blueprint-details {
  @apply rounded-lg px-7 py-6;
  background-color: #AEE120;
}

.blueprint-details.active,
.blueprint-details:hover {
  @apply bg-white;
}

.blueprint-details summary {
  @apply text-xl font-black uppercase text-white list-none transition-all cursor-pointer;
}

.blueprint-details.active summary,
.blueprint-details:hover summary
{
  @apply text-black;
}

.blueprint-details .body {
  @apply my-5 text-blackAlpha-700 text-sm;
}

/* .section-bento */

.bento-1 {
  grid-area: 1 / 1 / 3 / 3;
}

.bento-2 {
  grid-area: 2 / 3 / 4 / 5;
}

.bento-3 {
  grid-area: 1 / 5 / 5 / 7;
}

.bento-4 {
  grid-area: 3 / 1 / 5 / 3;
}

.bento-5 {
  grid-area: 4 / 3 / 6 / 5;
}

.bento-6 {
  grid-area: 5 / 1/ 7 / 3;
}

.bento-7 {
  grid-area: 6 / 3 / 8 / 5;
}

.bento-8 {
  grid-area: 5 / 5 / 7 / 7;
}

.bento-9 {
  grid-area: 3 / 5 / 7 / 7;
}

/*  */

.blueprint-card {
  @apply w-full rounded-xl overflow-hidden p-8 relative transition-all brightness-90;
  background: #333;
}

.blueprint-card:hover {
  @apply brightness-125;
}

.blueprint-card .img {
  @apply transition-all;

}
.blueprint-card:hover .img {
  @apply -rotate-12;
}

/* .section-subscription */

.section-subscription {
  background: #262626;
}

@media (min-width: 80rem) {
  .section-subscription {
    background-image: linear-gradient(to right, #262626 50%, #f3f3f3 50%);
  }
}

.quote {
  @apply text-[3.5rem] font-black leading-[4.25rem];
}

