@layer components {
  /* Button Base */
  .btn {
    @apply text-base font-bold rounded-lg px-5 py-3 border border-transparent text-black-800 leading-[150%];
    padding-bottom: calc(0.75rem - 2px);
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    will-change: background-color, border-color, color, fill, stroke, opacity,
      box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 0.25rem;
    text-rendering: optimizelegibility;
  }

  .btn:active {
    @apply text-black-400;
  }

  .btn:focus-visible {
    outline: 4px solid #90cdf4;
  }

  .btn[disabled],
  .btn[disabled]:hover,
  .btn.disabled {
    @apply text-black-400 bg-blackAlpha-100;
  }

  /* Button Sizes */
  .btn-md {
    @apply text-base leading-[150%] font-bold rounded-lg px-5 py-3;
    padding-bottom: calc(0.75rem - 2px);
  }

  .btn-xs {
    @apply text-xs leading-[150%] font-bold rounded px-3 py-[0.4375rem];
    padding-bottom: calc(0.4375rem - 1px);
  }

  .btn-sm {
    @apply text-sm leading-[150%] font-bold rounded px-4 py-[0.59375rem];
    padding-bottom: calc(0.59375rem - 2px);
  }

  .btn-lg {
    @apply text-lg leading-[150%] font-bold rounded-md px-6 py-[1.125rem];
    padding-bottom: calc(1.125rem - 2px);
  }

  .btn-xl {
    @apply text-lg leading-none px-[3.875rem] py-4;
  }

  /* Button Types */
  .btn-circle {
    @apply rounded-full;
  }

  .btn-rounded {
    @apply rounded-full;
  }

  /* Button Styles */
  .btn-primary:hover {
    opacity: 0.75;
  }

  .btn-secondary:hover {
    opacity: 0.7;
  }

  .btn-text {
    @apply bg-transparent border-transparent;
  }

  .btn-text:hover {
    @apply text-phalaGreenLight;
  }

  /* Button Colors */
  .btn-phala {
    @apply bg-phalaGreen-500 text-black-800 rounded-full;
  }

  .btn-purple {
    @apply bg-phalaPurple-500 text-white;
  }

  .btn-blk {
    @apply bg-black-900 text-white rounded-full;
  }

  .btn-wht {
    @apply bg-white text-black-800;
  }

  .btn-wht:hover {
    @apply bg-whiteAlpha-900;
  }

  .btn-phat {
    @apply bg-phatGreen-400 text-white;
  }
}
