@layer components {
  /* Heading Components */
  .heading-xs {
    @apply text-sm font-semibold;
    line-height: 1.2em;
    word-spacing: 0.05em;
  }

  .heading-sm {
    @apply text-base font-semibold;
    line-height: 1.2em;
    word-spacing: 0.05em;
  }

  .heading-md {
    @apply text-xl font-semibold;
    line-height: 1.2em;
    word-spacing: 0.05em;
  }

  .heading-lg {
    @apply text-2xl font-semibold;
    line-height: 1.33em;
    word-spacing: 0.05em;
  }

  .heading-xl {
    @apply text-3xl font-semibold;
    line-height: 1.33em;
    word-spacing: 0.05em;
  }

  .heading-2xl {
    @apply text-4xl font-semibold;
    line-height: 1.2em;
    word-spacing: 0.05em;
  }

  .heading-3xl {
    @apply text-5xl font-semibold;
    line-height: 1em;
    word-spacing: 0.05em;
  }

  .heading-4xl {
    @apply text-6xl font-semibold;
    line-height: 1em;
    word-spacing: 0.05em;
  }

  /* Card Components */
  .card-elevated {
    @apply bg-white rounded-lg shadow;
  }

  .card-filled {
    @apply bg-gray-100 border border-gray-100 rounded-lg shadow;
  }

  /* Button Base */
  .btn {
    @apply text-base font-bold rounded-lg px-5 py-3 border border-transparent text-black-800 leading-[150%];
    padding-bottom: calc(0.75rem - 2px);
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    will-change: background-color, border-color, color, fill, stroke, opacity,
      box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 0.25rem;
    text-rendering: optimizelegibility;
  }

  .btn:active {
    @apply text-black-400;
  }

  .btn:focus-visible {
    outline: 4px solid #90cdf4;
  }

  .btn[disabled],
  .btn[disabled]:hover,
  .btn.disabled {
    @apply text-black-400 bg-blackAlpha-100;
  }

  /* Button Sizes */
  .btn-md {
    @apply text-base leading-[150%] font-bold rounded-lg px-5 py-3;
    padding-bottom: calc(0.75rem - 2px);
  }

  .btn-xs {
    @apply text-xs leading-[150%] font-bold rounded px-3 py-[0.4375rem];
    padding-bottom: calc(0.4375rem - 1px);
  }

  .btn-sm {
    @apply text-sm leading-[150%] font-bold rounded px-4 py-[0.59375rem];
    padding-bottom: calc(0.59375rem - 2px);
  }

  .btn-lg {
    @apply text-lg leading-[150%] font-bold rounded-md px-6 py-[1.125rem];
    padding-bottom: calc(1.125rem - 2px);
  }

  .btn-xl {
    @apply text-lg leading-none px-[3.875rem] py-4;
  }

  /* Button Types */
  .btn-circle {
    @apply rounded-full;
  }

  .btn-rounded {
    @apply rounded-full;
  }

  /* Button Styles */
  .btn-primary:hover {
    opacity: 0.75;
  }

  .btn-secondary:hover {
    opacity: 0.7;
  }

  .btn-text {
    @apply bg-transparent border-transparent;
  }

  .btn-text:hover {
    @apply text-phalaGreenLight;
  }

  /* Button Colors */
  .btn-phala {
    @apply bg-phalaGreen-500 text-black-800 rounded-full;
  }

  .btn-purple {
    @apply bg-phalaPurple-500 text-white;
  }

  .btn-blk {
    @apply bg-black-900 text-white rounded-full;
  }

  .btn-wht {
    @apply bg-white text-black-800;
  }

  .btn-wht:hover {
    @apply bg-whiteAlpha-900;
  }

  .btn-phat {
    @apply bg-phatGreen-400 text-white;
  }

  /* AI Agent Components */
  .btn-ai-agent {
    background: linear-gradient(
      90deg,
      #cdfa50 0%,
      #29bdb4 50.55%,
      #7f52fa 100%
    );
    @apply text-white;
  }

  .btn-ai-agent:hover {
    opacity: 0.75;
  }

  .bg-ai-agent {
    background: linear-gradient(
      90deg,
      #cdfa50 0%,
      #29bdb4 50.55%,
      #7f52fa 100%
    );
  }

  .text-ai-agent {
    background: linear-gradient(
      90deg,
      #cdfa50 0%,
      #29bdb4 50.55%,
      #7f52fa 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Responsive Heading Styles */
  @media (min-width: 62rem) {
    .heading-xs {
      @apply font-bold;
    }

    .heading-sm {
      @apply font-bold;
    }

    .heading-md {
      @apply font-bold;
    }

    .heading-lg {
      @apply font-bold text-3xl;
      line-height: 120%;
    }

    .heading-xl {
      @apply font-bold text-4xl;
      line-height: 120%;
    }

    .heading-2xl {
      @apply font-bold text-5xl;
      line-height: 100%;
    }

    .heading-3xl {
      @apply font-bold text-6xl;
    }

    .heading-4xl {
      @apply font-bold text-7xl;
    }
  }
}
