@reference '../app/globals.css';

.page--confidential-computation-with-tee {
  --card-container-max-width: 480px;
  --card-image-max-width: 128px;
}

.section--highlights {
  --card-container-max-width: 480px;
  --card-image-max-width: 128px;
}

.section--features {
  --card-container-max-width: 480px;
  --card-image-max-width: 64px;
}

.section--case-studies a {
  text-decoration: underline;
}

.section--case-studies a:hover {
  text-decoration: none;
}
