@reference '../app/globals.css';

.site-hamburger-menu .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none;
}
.site-hamburger-menu .line {
  fill: none;
  stroke: #828285;
  stroke-width: 6;
  transition: stroke-dasharray 350ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-hamburger-menu .line1 {
  stroke-dasharray: 60 207;
}
.site-hamburger-menu .line2 {
  stroke-dasharray: 60 60;
}
.site-hamburger-menu .line3 {
  stroke-dasharray: 60 207;
}

.site-hamburger-menu.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.site-hamburger-menu.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
.site-hamburger-menu.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

/*
 * Site Nav Drawer
 */

.site-nav-drawer {
  @apply fixed left-0 top-0 w-screen h-screen z-40 rounded-l-[2rem] bg-black-150;
  width: 120vw;
  max-height: -webkit-fill-available;
  will-change: transform;
}

.site-nav-drawer > div {
  width: 100vw;
}

.site-nav-drawer summary {
  @apply text-xl font-semibold text-black-900 transition-all;
}

.site-nav-drawer summary.is-closed {
  @apply text-xl font-semibold text-black-900;
}

.site-nav-drawer details summary {
  list-style: none;
}

.site-nav-drawer details summary::-webkit-details-marker {
  display: none;
}

.site-nav-drawer summary svg {
  @apply rotate-180 transition-all;
}

.site-nav-drawer summary.is-closed svg {
  @apply rotate-0;
}

@layer components {
  .site-nav-menu-item .heading {
    @apply text-sm font-medium inline-flex flex-row items-center;
    @apply text-black-900;
  }

  /* NOTE: icon */
  .site-nav-menu-item span {
    @apply text-white;
  }

  .site-nav-menu-item .body {
    @apply text-xs lg:text-sm;
    @apply text-black-600;
  }

  .site-nav-menu-item:hover .heading {
    @apply text-black-900;
  }

  .site-nav-menu-item:hover .body {
    @apply text-black-900;
  }
}

.site-nav > div {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.site-nav.hide > div {
  transform: translate3d(0, -150%, 0);
  opacity: 0;
}
