.pageRoadmap {
  color: #000;
  padding-bottom: 4rem;
}

.pageRoadmap * {
  margin: 0;
  line-height: 1.5rem;
}

.pageTitle {
  font-weight: 900;
  font-size: 2rem;
  line-height: 150%;
  color: #000000;
  margin: 66px auto 44px;
}

.pageSection {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.summaryStats li {
    list-style: circle;
    margin: .75rem 0;
}

.sectionTitle {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sectionSubTitle {
  font-style: italic;
  font-size: 1rem;
  color: #505050;
}

.sectionContentGroup {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.ulTitle {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.liItem {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.liTitle {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: stretch;
  column-gap: 1.25rem;
}

.liTitle code {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 100;
  line-height: 1;
  max-height: 1.5rem;

  min-width: 8rem;
  text-align: center;
}

.liContent {
  font-size: 1rem;
  color: #555;
  margin-top: 0.25rem;
  margin-left: 10rem;
}

@media (min-width: 768px) {
  .liItem {
    margin-left: 1.25rem;
  }

  .liTitle {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .liTitle code {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    max-height: unset;
  }

  .liContent {
    margin-left: 0.625rem;
  }
}

.hr {
  border-top: 1px solid #d9d9d9;
  margin: 1.875rem 0;
}

.Q1 {
  background: #cdfa50;
}

.Q2 {
  background: #72b5f3;
}

.Q3 {
  background: #fab650;
}

.expected2024 {
  background: #fa6450;
}

.yearRound {
  background: #fa8d50;
}
